/* EVENT PROFILE PAGE */
#event_title {
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	color: #000;
}

#event_dayleft {
	font-size: 20px;
	color: #0099FF;
	width: 500px;
	float: left;
}

#event_datetime {
	font-size: 16px;
	float: right;
	font-style: italic;
}

#event_picture_container {
	clear: both;
}

#event_picture_container img {
	width: 600px;
}

#event_metadata {
	clear:both;
	background-color:#CCC;
	width: 580px;
	padding: 10px;
}

#event_description {
	font-size: 18px;
}

#event_attending {
	float: right;
}

#event_cost_attend {
	color: #09F;
	font-size: 20px;
}

#event_spots {
	float: left;
	font-size: 20px;
	margin-top: 28px;
}

#event_gets {
	margin-left: 30px;
}

#event_gets_price {
	color: #999;
}

#event_organizer {
	font-size: 12px;
}

#event_location {
	margin-top: 10px;
	margin-bottom: 10px;
}

#event_info {
	width: 600px;
	float: left;
}

#created_by {
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}

#created_by h3 {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

#created_by h4 {
	margin: 0px;
	padding: 0px;
}

#fb-like-button {
	margin-top: 20px;
}

#event_attending_response {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
