/* EVENT PROFILE PAGE */
#event_info {
	width: 600px;
}

#event_title {
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	color: #000;
}

#event_dayleft {
	font-size: 20px;
	color: #06F;
	width: 500px;
	float: left;
}

#event_datetime {
	font-size: 20px;
	float: right;
}

#event_picture_container {
	clear: both;
}

#event_metadata {
	clear:both;
	background-color:#CCC;
	width: 600px;
}

#event_description {
	font-size: 18px;
}

#event_attending {
	float: right;
}

#event_cost_attend {
	color: #09F;
	font-size: 20px;
}

#event_spots {
	font-size: 20px;
	float: left;
	margin-top: 8px;
}

#event_gets {
	margin-left: 30px;
}

#event_gets_price {
	color: #999;
}

#event_organizer {
	font-size: 12px;
}