html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, address, dfn, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, aside, embed, figure, figcaption, footer, header, nav, section, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit; }
img { vertical-align: baseline; }
aside, figcaption, figure, footer, header, nav, section { display: block; }
ol, ul { list-style: none; }

body {
	background: url(../images/index_header_bg.gif);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 12px; }
a { 
	color: #3399cc;
	text-decoration: none; }
a:hover { 
	text-decoration: underline;
	cursor: pointer; }

/* Forms
-------------------------*/
input, textarea, select {
	color: #666;
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	display: inline-block; }
input.inputbox, input.inputbox-small {
	background: #fff;
	font-size: 14px;
	width: 280px;
	height: 23px;
	padding: 0 3px;
	border: 1px solid #999;
	display: inline-block; }
input.inputbox-small { width: 72px; }
.default { color: #808080; }

/*----- Buttons ----------*/
.buttons { clear: both; }
.buttons-submit { float: right; }
.btn, .btn input, .btn span, .btn em {
	background-color: transparent;
	background-repeat: no-repeat;
	color: #fff;
	line-height: 1;
	margin: 0;
	border: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block; }
a.btn { text-decoration: none; }
.btn input, .btn span { float: left; }
.btn:hover { background-position: 0 100%; }
.btn:hover span, .btn:hover input, .btn:hover em { background-position: 100% 100%; }
.btn:focus, .btn:active, .btn.current { background-position: 0 0; }
.btn:focus span, .btn:focus input, .btn:focus em,
.btn:active span, .btn:active input, .btn:active em,
.btn.current span, .btn.current input, .btn.current em { background-position: 100% 0; }

.btn-med { 
	background-image: url(../images/btn_med_left.png);
	background-position: 0 -57px;
	height: 57px;
	padding: 0 0 0 14px; }
.btn-med input {
	background-image: url(../images/btn_med_right.png);
	background-position: 100% -57px;
	font-size: 30px;
	height: 57px;
	padding: 0 28px 10px 10px; }
.btn-large {
	background-image: url(../images/btn_large_left.png);
	background-position: 0 -91px;
	font-size: 30px;
	height: 91px;
	padding: 0 0 0 16px; }
.btn-large span {
	background-image: url(../images/btn_large_right.png);
	background-position: 100% -91px;
	height: 65px; /* 91 - 26 */
	padding: 26px 20px 0 4px; }

/* Submit Button */
.submit { float: right; }


/*----- Signup ----------*/
.btn-signup {
	background: url(../images/index_btn_signup.png) 0 0 no-repeat;
	width: 218px;
	height: 91px; }
.btn-signup:hover { background-position: 0 -91px; }
.btn-signup:focus { background-position: 0 -182px; }

/*----- More ----------*/
.btn-more {
	background: url(../images/index_btn_more.png) 0 0 no-repeat;
	width: 218px;
	height: 91px; }
.btn-more:hover { background-position: 0 -91px; }
.btn-more:focus { background-position: 0 -182px; }
	
/* Header
-------------------------*/
header#site-header {
	width: 948px;
	margin: 0 auto;
	padding: 0 0 100px;
	overflow: hidden;
	border-bottom: 1px solid #8b8b8d; }

/*----- Logo ----------*/
#site-header h1#logo { 
	float: left;
	margin: 15px 0 0; }
#logo a {
	background: url(../images/index_logo.png) 0 0 no-repeat;
	width: 292px;
	height: 81px;
	text-indent: -10000px;
	display: block; }

/*----- Site navigation ----------*/
#site-header nav {
	float: right;
	font-size: 12px;
	color: #fff;
	margin: 75px 0 0; }
#site-header nav a {
	color: inherit;
	padding: 0 3px;
	display: inline-block; }

/*----- Teaser ----------*/
.teaser { 
	padding: 40px 0 0;
	clear: both; }
.teaser header h1 {
	background: url(../images/index_teaser.png) 0 0 no-repeat;
	width: 418px;
	height: 38px;
	margin: 0 auto 13px;
	text-indent: -10000px; }
.teaser p {
	background: url(../images/index_teaser_desc.png) 0 0 no-repeat;
	width: 607px;
	height: 23px;
	margin: 0 auto;
	text-indent: -10000px; }

/*----- Start ----------*/
.start { 
	background: url(../images/index_mascot.png) 0 25px no-repeat;
	margin: 50px 0 0 56px;
	padding: 0 0 25px 330px;
	overflow: auto;
	clear: both; }
.start header { 
	float: right;
	color: #fff;
	width: 350px;
	margin: 30px 0 0 25px;
	overflow: auto; }
.start header h1 {
	float: left;
	font-size: 32px;
	line-height: 30px;
	font-weight: bold;
	font-family: Helvetica, Arial;
	clear: both; }
.start header h1 em { color: #ffcc66; }
.start header p { 
	float: left;
	font-size: 18px;
	margin: 6px 0 0;
	clear: both; }
.start header p span { font-style: italic; }
.start form {
	background: url(../images/index_bubble.png) 0 0 no-repeat;
	font-size: 16px;
	line-height: 32px;
	width: 432px; /* 522 - 90 */
	height: 190px; /* 220 - 30 */
	padding: 30px 30px 0 60px; }
.start form legend { 
	font-family: Helvetica, Arial;
	font-size: 30px;
	font-weight: bold;
	color: #666;
	padding: 0 0 10px; }
.start form p { padding: 0 20px; }
.start form p em {
	padding: 0 0 0 15px;
	display: block; }
.start aside { 
	margin: 0 0 0 35px;
	clear: both; }
.start aside a { margin: 0 0 0 20px; }

/*----- More ----------*/
.more { 
	margin: 0 165px 0 57px;
	overflow: auto; }
.more aside { float: left; }
.more aside.more-iphone { float: right; }
.more aside p {
	font-size: 25px;
	font-weight: bold;
	color: #fff; }
.more aside.more-iphone p { 
	font-size: 20px;
	margin: 0 0 2px; }
.more aside p a { 
	color: #ffcc66;
	text-decoration: none;
	padding: 0 0 1px;
	border-bottom: 1px solid #ffcc66;
	display: inline-block; }
.more aside.more-iphone p a {
	background: url(../images/index_iphone.png) 0 0 no-repeat;
	color: #fff;
	height: 51px;
	padding: 15px 0 0 37px;
	border: 0; }
.more aside.more-iphone p a:hover { color: #ffcc66; }

/* Main
-------------------------*/
#main {
	background: url(../images/index_bg.gif);
	float: left;
	width: 100%;
	border-top: 1px solid #b6b6ba; }
	
/* Block
-------------------------*/
.block {
	background: #fff;
	width: 888px; /* 948 - 60 */
	margin: 0 auto 20px;
	padding: 20px 30px;
	border-radius: 8px;
	border: 2px solid #acacaf;
	overflow: auto; }
.block header.block-title {
	font-size: 30px;
	padding: 0 0 10px;
	overflow: auto; }
.block header h1 {
	float: left;
	font-family: Helvetica, Arial;
	font-size: 32px;
	font-weight: bold;
	color: #646464; }

/*----- Reasons ----------*/
#reasons { margin: -75px auto 0; }
#reasons section {
	background: none 40px 65px no-repeat;
	height: 232px; /* 252 - 20 */
	padding: 20px 40px 0;
	border-top: 1px solid #ebebeb;
	overflow: auto; }

/* Images */
#reasons .lose-old { background-image: url(../images/index_lose_old.gif); }
#reasons .lose-lines { background-image: url(../images/index_lose_lines.gif); }
#reasons .lose-chain { background-image: url(../images/index_lose_chain.gif); }

#reasons section header h1 { 
	font-size: 20px; 
	font-weight: bold; }
#reasons ul {
	float: right;
	width: 360px;
	padding: 20px 0 0; }
#reasons ul li {
	font-size: 16px;
	margin: 40px 0 0; }
#reasons ul li h2 { font-weight: bold; }

/*----- Messages ----------*/
.message {
	font-family: Helvetica, Arial;
	font-size: 20px;
	margin: 15px 0; }

/*----- Buttons ----------*/
.block .btn-large {
	background: url(../images/index_btn_large.png) 0 0 no-repeat;
	float: right;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-family: Helvetica, Arial;
	width: 258px;
	height: 29px; /* 34 - 5 */
	padding: 5px 0 0;
	vertical-align: baseline;
	display: inline-block; }
	
/*----- Extra ----------*/
.extra {
	text-align: center;
	font-family: Helvetica, Arial;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0; }
.extra span {
	width: 360px;
	margin: 0 10px 0 0;
	display: inline-block; }
.extra input { display: inline-block; }
.extra .submit {
	background: url(../images/index_btn_submit.png) 0 0 no-repeat;
	font-size: 0;
	width: 65px;
	height: 30px;
	text-indent: -10000px;
	border: 0;
	cursor: pointer;
	display: inline-block; }

/*----- Site Map ----------*/
footer#site-map {
	background: url(../images/footer_bg.gif) 0 0 repeat-x;
	font-family: Arial;
	color: #fff;
	height: 125px; /* 158 - 33 */
	padding: 33px 0 0;
	clear: both; }
#site-map ul { 
	width: 760px;
	margin: 0 auto; }
#site-map ul li { 
	float: left;
	margin: 0 30px 0 0; }
#site-map ul li span {
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px;
	display: block; }
#site-map ul li ul { 
	width: 100px;
	margin: 0; }
#site-map ul li ul li { 
	float: none; 
	margin: 0;
	display: block; }
#site-map ul li ul li a { 
	font-size: 11px;
	color: #fff;
	margin: 0;
	padding: 0 3px 3px 0;
	display: block; }