/* TOP NAVIGATION */
#update_event_top_nav {
	clear: both;
	margin-left: 50px;
  width: 500px;
}

#update_event_top_nav li {
	list-style: none;
	float: left;
	font-size: 18px;
	margin-left: 50px;
}

#update_event_top_nav li a {
	color: #FFFFFF;
}

/* LEFT NAVIGATION */
#update_event_left_nav {
	width: 90px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	clear: both;
}

#update_event_left_nav li {
	list-style: none;
	margin-top: 10px;
}

#update_event_left_nav li a {
	color: #FFFFFF;
}

/* UPDATE EVENT OVERLAY */
.update_event_form_overlay {
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:970px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

.update_event_form_overlay .close {
	background-image:url(../images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* MANAGE EVENT FORM */
#manage_event_form {
	float: left;
	margin-top: 30px;
	margin-left: 50px;
}

#manage_event_form h2 {
	color: #FC3;
	margin-top: 0px;
	margin-bottom: 0px;
}
 
#event_datetime {
	font-size: 16px;
	float: left;
	color: #CCC;
	font-style: italic;
}

/* EVENT SCORE */
#event_score_container {
	clear: both;
	margin-top: 40px;
}

.event_score {
	float: left;
	margin-right: 70px;
	text-align: center;
}

h3.event_score_title {
	margin: 0px;
	padding: 0px;
	color:#CCC;
}

h4.event_score_val {
	margin: 0px;
	padding: 0px;
}

/* TOTAL RSVP */
#total_rsvp {
	clear: both;
	margin-top: 30px;
}

#total_rsvp tr th {
	padding-right: 50px;
}