<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Author" content="trueRSVP" />	
	<title>trueRSVP | Flake-proof your event</title>
	<link rel="stylesheet" type="text/css" href="https://localhost/Eventfii/css/style.css" media="screen" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="SHORTCUT ICON" href="https://localhost/Eventfii/css/favicon.ico" />
</head>
<body>

<section class="block" id="facebook">
	<header class="block-title">
		<h1>Your RSVP</h1>
	</header>
	<p class="rsvp-message"><em id="rsvp_days_left">721</em> days left to RSVP</p>
	<fieldset>				
		<ol class="rsvp-list" id="event_attending_response">
			<li>
				<label class="rsvp-label rsvp-1 selected" for="event_attending_response_1">
					<input type="radio" name="event_attending_response" value="90" checked="checked" id="event_attending_response_1" class="rsvp-opt" /> 
					<span>Absolutely</span>
					<em>I’ll definitely be there</em>
				</label>
			</li>
			<li>
				<label class="rsvp-label rsvp-2" for="event_attending_response_2">
					<input type="radio" name="event_attending_response" value="65" id="event_attending_response_2" class="rsvp-opt" /> 
					<span>Pretty sure</span>
					<em>I’ll have to check my schedule</em>
				</label>
			</li>
			<li>
				<label class="rsvp-label rsvp-3" for="event_attending_response_3">
					<input type="radio" name="event_attending_response" value="35" id="event_attending_response_3" class="rsvp-opt" /> 
					<span>50/50</span>
					<em>Interested, but not ready to commit</em>
				</label>
			</li>
			<li>
				<label class="rsvp-label rsvp-4" for="event_attending_response_4">
					<input type="radio" name="event_attending_response" value="15" id="event_attending_response_4" class="rsvp-opt" /> 
					<span>Not likely</span>
					<em>I probably won’t go</em>
				</label>
			</li>
			<li>
				<label class="rsvp-label rsvp-5" for="event_attending_response_5">
					<input type="radio" name="event_attending_response" value="4" id="event_attending_response_5" class="rsvp-opt" /> 
					<span>Raincheck</span>
					<em>Can’t make it this time</em>
				</label>
			</li>
		</ol>
	</fieldset>
	</section>

</body>
</html>