<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

<table width="428" style="background: #fff url(images/email_bg.gif) 0 0 repeat-y; font: bold 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; margin: 0 auto;" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2">
				<img src="images/reminder_top.gif" width="428" height="100" alt="trueRSVP" />
			</td>
		</tr>
		<tr>
			<td style="padding: 0 30px;" colspan="2">
				<p>Hi [First Name],</p>
				<p>We hope your event was a success!</p>
				<p>Please confirm who showed up to your event here, because:</p>
				<ul>
					<li>We will only send “Thank You” emails to the people who actually showed up.</li>
					<li>It’ll improve your trueRSVP accuracy for future events.</li>
					<li>We track your attendees’ reliability - help us spot the flakes!</li>
				</ul>
				<p>Also, check out your live feed to see all the tweets & photos from your event.</p>
				<p>When it matters how many people will show, plan your next event on trueRSVP!</p>
				<p>And, just in case, here’s the link to your event: <a href="https://truersvp.com/event/a/21c" style="color: #41b5d9; text-decoration: none;">https://truersvp.com/event/a/21c</a></p>
			</td>
		</tr>
		<tr>
			<td style="padding: 0 0 0 30px;">
				<p style="margin: 0;">Thanks,The trueRSVP Team</p>
			</td>
			<td style="text-align: right; vertical-align: bottom; padding: 0 30px 0 0;">
				<p style="margin: 0;">Spread the love: <a href="#" title="Like trueRSVP on Facebook"><img src="images/icon_facebook.gif" width="18" height="18" style="vertical-align: text-bottom;" alt="Like trueRSVP on Facebook" /></a> <a href="#" title="Follow @trueRSVP on Twitter"><img src="images/icon_twitter.gif" width="18" height="18" style="vertical-align: text-bottom;" alt="Follow @trueRSVP on Twitter" /></a></p>
		</tr>
		<tr>
			<td style="padding: 0 30px;" colspan="2"><img src="images/reminder_divider.gif" width="361" height="4" alt /></td>
		</tr>
		<tr style="font-size: 11px; color: #6d6d6d;">
			<td style="padding: 0 30px;" colspan="2"><p>trueRSVP is the first RSVP system that’s flake proof. FInd out how many people are actually coming to your event & stop last minute flakes for good! <a href="#" style="color: #3399cc; text-decoration: none;">Learn more.</a></p></td>
		</tr>
		<tr>
			<td style="padding: 0 30px;" colspan="2">
				<p><a href="#" style="font-size: 8px; color: #3bafd3;">Unsubscribe</a></p>
			</td>
		</tr>
		<tr style="font-size: 0; line-height: 0;">
			<td colspan="2"><img src="images/reminder_bottom.gif" width="428" height="18" /></td>
		</tr>
	</tbody>
</table>

</body>
</html>