<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

<table width="560" height="234" style="background-color: #fff; font: bold 12px/1 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #666; margin: 0 auto;" cellpadding="0" cellspacing="0">
	<tbody>
		<tr style="font-size: 0; line-height: 0">
			<td colspan="4"><img src="images/border_invitation_top.gif" width="560" height="4" alt /></td>
		</tr>
		<tr>
			<td><img src="images/border_invitation_left.gif" width="3" height="228" /></td>
			<td width="154" style="vertical-align: top; padding: 8px">
				<div>
					<h1 style="font-size: inherit; color: #666; margin: 0; padding: 0 6px">RSVP Now!</h1>
					<img src="images/rsvp_divider.gif" width="154" height="2" style="margin: 0 auto" alt />
					<h2 style="font-size: 9px; line-height: 19px; text-align: center; margin: 0"><span style="color: #ff9933;">15</span> days left to RSVP</h2>
					<div style="text-align: center; font-weight: normal;">
						<p style="background: #3bb9dd url(images/rsvp_1.gif) 0 0 no-repeat; width: 142px; height: 37px; margin: 0 auto;">
							<a href="#" title="RSVP that you know you are absolutely attending this event." style="font-size: 16px; line-height: 32px; color: #fff; text-decoration: none; display: block;">Absolutely</a>
						</p>
						<p style="background: #5dc1dd url(images/rsvp_2.gif) 0 0 no-repeat; width: 135px; height: 33px; margin: 0 auto;">
							<a href="#" title="RSVP that you are pretty sure you will be attending this event." style="font-size: 15px; line-height: 30px; color: #fff; text-decoration: none; display: block;">Pretty Sure</a>
						</p>
						<p style="background: #85cadd url(images/rsvp_3.gif) 0 0 no-repeat; width: 125px; height: 32px; margin: 0 auto;">
							<a href="#" title="RSVP that you will are about 50/50 on attending this event." style="font-size: 14px; line-height: 28px; color: #fff; text-decoration: none; display: block;">50/50</a>
						</p>
						<p style="background: #aad2dd url(images/rsvp_4.gif) 0 0 no-repeat; width: 117px; height: 30px; margin: 0 auto;">
							<a href="#" title="RSVP that you will most likely not be attending this event." style="font-size: 13px; line-height: 26px; color: #fff; text-decoration: none; display: block;">Not likely</a>
						</p>
						<p style="background: #c2d7dd url(images/rsvp_5.gif) 0 0 no-repeat; width: 105px; height: 30px; margin: 0 auto;">
							<a href="#" title="RSVP that you will not attend this event." style="font-size: 12px; line-height: 24px; color: #fff; text-decoration: none; display: block;">Raincheck</a>
						</p>
					</div>
				</div>
			</td>
			<td width="382" height="228" style="background-color: #5dc1dd;">
				<table width="345" height="129" style="background-color: #f8f8f8; font-size: 10px; font-weight: normal; margin: 0 auto;" cellpadding="0" cellspacing="0">
					<tbody>
						<tr style="font-size: 0; line-height: 0;">
							<td colspan="3"><img src="images/border_info_top.gif" width="345" height="10" alt /></td>
						</tr>
						<tr>
							<td style="font-size: 0; line-height: 0;"><img src="images/border_info_left.gif" width="4" height="109" alt /></td>
							<td width="317" height="108" style="vertical-align: top; padding: 0 10px">
								<div>
									<p style="margin: 0 0 6px;">Hi Fei,<br />You’re invited to:</p>
									<p style="margin: 0 0 6px;">
										<strong>What:</strong> Orientation Mixer<br />
										<strong>When:</strong> August 15, 2011 7:00PM<br />
										<strong>Where:</strong> USC Campus Center, 1234 Exposition Blvd, Los Angeles, CA 90007
									</p>
									<p style="margin: 0 0 3px">Thanks,</p>
									<table width="313" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td width="50%">
													<table cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td><a href="#" title="View Anna Sergeeva's Profile on trueRSVP"><img src="images/user_icon.jpg" width="18" height="19" alt="Anna Sergeeva"/></a></td>
																<td style="padding: 0 5px">
																	<div>
																		<p style="margin: 0;"><a href="#" title="View Anna Sergeeva's Profile on trueRSVP" style="font-size: 10px; text-decoration: none; color: #2799d8;">Anna Sergeeva</a></p>
																		<p style="margin: 0;"><a href="mailto:anna@truersvp.com" title="Send an e-mail to Anna Sergeva" style="font-size: 10px; text-decoration: none; color: #2799d8;">Contact Host</a></p>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
												<td width="50%" style="text-align: right;"><a href="#" style="font-size: 10px; text-decoration: none; color: #2799d8;">View full invitation</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
							<td style="font-size: 0; line-height: 0;"><img src="images/border_info_right.gif" width="4" height="109" alt /></td>
						</tr>
						<tr style="font-size: 0; line-height: 0;">
							<td colspan="3"><img src="images/border_info_bottom.gif" width="345" height="10" alt /></td>
						</tr>
					</tbody>
				</table>
				<table style="margin: 0 auto;" cellpadding="0" cellspacing="0">
					<tbody>
						<td width="277" height="54"></td>
						<td><img src="images/info_turtle.gif" width="67" height="54" alt /></td>
						<td width="9" height="54"></td>
					</tbody>
				</table>
			</td>
			<td><img src="images/border_invitation_right.gif" width="3" height="228" alt /></td>
		</tr>
		<tr style="font-size: 0; line-height: 0">
			<td colspan="4"><img src="images/border_invitation_bottom.gif" width="560" height="2" alt /></td>
		</tr>
	</tbody>
</table>
<div style="font: 10px/1 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #666; width: 432px; margin: 0 auto; border-bottom: 1px solid #ccc;">
	<p style="margin: 9px 0 8px 2px;"><strong>Details:</strong> Lots of fun and blah blabh blhabl jab</p>
	<p style="margin: 0 0 8px 2px;"><strong>Link:</strong> <a href="http://truersvp.com/event/1ab" style="color: #3bb9dd; text-decoration: none;">http://truersvp.com/event/1ab</a></p>
</div>
<div style="font: 11px/1 'Helvetica Neue', Helvetica, Arial, sans-serif; text-align: center; color: #666; width: 402px; margin: 15px auto 0;">
	<p style="font-weight: bold; color: #333;">Spread the love: <a href="#" title="Like trueRSVP on Facebook"><img src="images/icon_facebook.gif" width="18" height="18" style="vertical-align: text-bottom;" alt="Like trueRSVP on Facebook" /></a> <a href="#" title="Follow @trueRSVP on Twitter"><img src="images/icon_twitter.gif" width="18" height="18" style="vertical-align: text-bottom;" alt="Follow @trueRSVP on Twitter" /></a></p>
	<p"><a href="http://truersvp.com/" title="Visit trueRSVP.com"><img src="images/logo.gif" width="142" height="36" alt="trueRSVP Logo" /></a></p>
	<p>trueRSVP is the first RSVP system that’s flake proof. Find out how many people are actually coming to your event &amp; stop last minute flakes for good! <a href="http://truersvp.com/method" style="color: #3399cc; text-decoration: none;">Learn more.</a></p>
	<p style="text-align: left;"><a href="#" style="font-size: 8px; color: #3bafd3;">Unsubscribe</a></p>
</div>

</body>
</html>