<table id="backgroundTable"  width="511" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif; color:#656565; font-size:14px;line-height: 18px;" bgcolor="#ffffff">
  <tr>
      <td style="font-size:0; line-height:0px;"><img src="images/email_top.jpg" height="28" width="511" alt="" /></td>
  </tr>
  <tr>
      <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                  <td width="16" bgcolor="#dbdbdb"></td>
                  <td valign="top">
                      <div style="width:440px; margin: 0 auto 0 auto">
                          <div style="padding:3px 0 0;"><a href="http://truersvp.com/" title="trueRSVP"><img src="images/email_header.jpg" height="86" width="439" border="0" alt="trueRSVP" /></a></div>
                          <div style="padding: 0 8px;">
                              <p>Hi <span id="guest_name">[Attendee name]</span>,</p>
                              <p><span id="evevt_subject">Thank you for RSVPing to:</span></p>
                              <p><a href="#" style="color: #5fc1df; text-decoration: underline;"><span id="event_name">Event Name</span></a><br/><span id="event_date">Event Date</span> at <span id="event_time">Event Time</span></p>
                              <p><span id="event_location">Event Location</span></p>
                              <p>YOUR RSVP: <span id="guest_rate">[guest_rate]</span></p>
                              <p>Check out the event here:<br/><a href="#" style="color: #5fc1df;"><span id="event_link"><span id="event_link_actual">http:truersvp.comevent1/1ab</span></span></a></p>
                              <p><span style="float:right; margin-top: 13px;">Spread the Love: <a href="http://www.facebook.com/pages/trueRSVP/245102305531976" target="_blank"><img src="images/email_fb.jpg" height="22" width="22" alt="Facebook" border="0" style="vertical-align: -3px;" /></a> <a href="http://twitter.com/#!/trueRSVP" target="_blank"><img src="images/email_twit.jpg" height="22" width="23" alt=""  border="0" style="vertical-align: -3px;" /></a></span>Thanks,<br/>The trueRSVP Team</p>
                          </div>
                          <div style="margin-top: 4px; padding-top: 10px; border-top: 4px solid #dbdbdb; font-size: 12px;">trueRSVP is the first RSVP system that's flake proof. Find out how many people are actually coming to your event &amp; shop last minite flakes for good! <a href="https://truersvp.com" target="_blank" style="color: #5fc1df;">Learn more</a>.<br/><a href="https://truersvp.com" style="color: #5fc1df;">unsubscribe</a></div>
                      </div>
                  </td>
                  <td width="16" bgcolor="#dbdbdb"></td>
              </tr>
          </table>
      </td>
  </tr>
  <tr>
      <td style="font-size:0;"><img src="images/email_bot.jpg" height="28" width="511" alt="" /></td>
  </tr>
</table>
